/* You can add global styles to this file, and also import other style files */

:root{
    --app-primary: hsl(270, 80%, 25%);   
    --app-secondary-0:hsla(0, 0%, 30%);
    --app-secondary:hsla(0, 0%, 50%);
    --app-secondary-2: hsl(0, 0%, 80%);
    --app-secondary-3: hsla(0, 0%, 90%);
    --app-secondary-4: hsl(0, 0%, 96%);
    --app-dark:hsl(0, 0%, 0%);
    --app-light:hsl(0, 0%, 100%);
}
