
<ng-container>
    <div class="accordion-item m-1"  [id]="'item' + ind">
        <h2 class="accordion-header" [id]="'header' + ind">
            <button class="accordion-button  bg-light text-dark d-inline"  type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#body-' + ind" aria-expanded="true"> 
                <span>{{job.email}}</span>
                <ul class="d-inline-flex w-100" style="position:absolute;right:100px; list-style: none; justify-content: space-between;"> 
                    <li></li>
                    <li> 
                        <i class="bi-arrow-up"> <span class="badge bg-primary" style="font-size:.5rem">{{job.votes.up}}</span></i> 
                        <i class="bi-arrow-down"> <span class="badge bg-primary" style="font-size:.5rem">{{job.votes.down}}</span></i>
                    </li> 
                </ul>
            </button>
        </h2>
        <div [id]="'body-'+ ind" class="accordion-collapse collapse" [attr.aria-labelledby]="'header' + ind">
            <div class="accordion-body position-relative">
                <table class="table table-striped m-0 p-0">
                    <tbody>
                        <tr>
                            <th>Crypto Address</th>
                            <td class="text-end">{{job.cryptoAddress}}</td>
                        </tr>
                        <tr>
                            <th>Hours</th>
                            <td class="text-end">{{job.hours}}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td class="text-end">{{job.status}}</td>
                        </tr>
                        <tr>
                            <th>Created At</th>
                            <td class="text-end">{{job.createdAt}}</td>
                        </tr>
                        <tr>
                            <th colspan="2"><a style="text-decoration: none;" role="button" data-bs-toggle="collapse" data-bs-target="#proof_work" aria-expanded="false" aria-controls="proof_work">Proof of Work <i class="bi-eye-fill"></i></a></th>
                        </tr>
                    </tbody>

                </table>
                
                <div class="collapse" id="proof_work">
                    <div class="card card.body">
                        <ul class="d-flex w-100 p-2" style="list-style: none; justify-content: space-between;">
                            <li class="mt-2"> 
                                <figure class="figure">
                                    <img class="figure-img img-thubnail" [src]="imgLocation + job.proofOfWork.before" [alt]="job.proofOfWork.before" width="400x" height="250px">
                                    <figcaption class="figure-caption"> before</figcaption>
                                </figure> 
                            </li>
                            <li class="mt-2"> 
                                <figure class="figure">
                                    <img class="figure-img img-thubnail" [src]="imgLocation + job.proofOfWork.after" [alt]="job.proofOfWork.after" width="400px" height="250px">
                                    <figcaption class="figure-caption"> after</figcaption>
                                </figure> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
