<div>
    <form action="" id="create-job" name="create-job">
        <div class="form-floating">
            <input type="email" class="form-control" id="email" name=email>
            <label for="email">Enter your mail</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="crypto-address" name="crypto-address">
            <label for="email">Enter your crypto address</label>
        </div>
        <div class="form-floating">
            <input type="file" class="form-control" id="upload" name="upload">
            <label for="email">Enter your crypto address</label>
        </div>
        <input type="submit" class="btn btn-primary" id="submit" name="submit">
    </form>
</div>
