<nav class="navbar navbar-expand mx-1 p-0" style="background-color: black;">
    <a class="navbar-brand text-light" style="position: relative; left: 30px;">
        Crypto
    </a>
    <ul class="navbar-nav" style="position: relative; left: 50px;">
        <li class="nav-item">
            <a href="#" class="nav-link text-light"> Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light"> Donote</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light"> AboutUs</a>
        </li>
    </ul>
</nav>

<div class="container-fluid d-flex m-0 p-1 " style="background-color: var(--app-light);">
    <aside class="m-1 p-1" style="width: 200px !important; background-color: var(--app-secondary-3);">
        <p> left block</p>
    </aside>
    <!-- middle container-->
    <div class="container p-0" style="max-width: 900px; min-width: 300px; min-height: auto; left:250px; background-color: var(--app-secondary-4);">
        <router-outlet></router-outlet>
    </div>
    <aside class="m-1 p-1" style="width: 250px; background-color: var(--app-secondary-3);">
        <p> right block</p>
    </aside>
</div>